.topicos {
    background: var(--cor--font--azul);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulos {
    color: var( --cor--de--fundo--destaque);
    font-weight: 300;
    padding-bottom: 1 em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 2em 0.5em;
}

.topicos__link{
    color: var(--cor--de--fundo--destaque);
    padding: 1em;
    background-color: var( --cor--font--laranja);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .topicos__titulos{
        font-size: 24px;
    } 

    .topicos__link {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 30vw;
    }
  
  
  }